services:
  - type: web
    name: indeed-scraper
    env: docker
    region: oregon
    dockerfilePath: ./Dockerfile

    envVars:
      - key: DB_HOST
        sync: false
      - key: DB_NAME
        sync: false
      - key: DB_USER
        sync: false
      - key: DB_PASSWORD
        sync: false
      - key: DB_PORT
        value: "5432"
      - key: GEMINI_API_KEY
        sync: false
